.fm-charts-color-1 
{
  fill: #ED9768 !important;
  /* fill: rgb(223, 56, 0) !important; */
}

.fm-charts-color-2 
{
  fill: #EFA177 !important;
}

.fm-charts-color-3 
{
  fill: #F1AC86 !important;
}

.fm-charts-color-4 
{
  fill: #F2B695 !important;
}

.fm-charts-color-5 
{
  fill: #F4C1A4 !important;
}

.fm-charts-color-6 
{
  fill: #F6CBB3 !important;
}

.fm-charts-color-7 
{
  fill: #F8D5C3 !important;
}

.fm-charts-color-8 
{
  fill: none !important;
}