.fm-charts-color-1 
{
  fill: #B29EC1 !important;
  /* fill: rgb(109, 59, 216) !important; */
}

.fm-charts-color-2
{
  fill: #BAA8CF !important;
}

.fm-charts-color-3
{
  fill: #C1B1D5 !important;
}

.fm-charts-color-4
{
  fill: #C9BBDA !important;
}

.fm-charts-color-5
{
  fill: #D1C5DF !important;
}

.fm-charts-color-6
{
  fill: #D8CEE4 !important;
}

.fm-charts-color-7
{
  fill: #E0D8EA !important;
}

.fm-charts-color-8
{
  fill: none !important;
}