.fm-charts-color-1 
{
  fill: #3EB390 !important;
  /* fill: rgb(95, 222, 178) !important; */
}

.fm-charts-color-2 
{
  fill: #51B49B !important;
}

.fm-charts-color-3 
{
  fill: #65C2A6 !important;
}

.fm-charts-color-4 
{
  fill: #78CAB1 !important;
}

.fm-charts-color-5 
{
  fill: #8BD1BC !important;
}

.fm-charts-color-6 
{
  fill: #9ED9C7 !important;
}

.fm-charts-color-7 
{
  fill: #B2E1D3 !important;
}

.fm-charts-color-8
{
  fill: none !important;
}