.fm-charts-color-1 
{
  fill: #0A84FF !important;
}

.fm-charts-color-2
{
  fill: #2290FF !important;
}

.fm-charts-color-3
{
  fill: #3B9DFF !important;
}

.fm-charts-color-4
{
  fill: #53A9FF !important;
}

.fm-charts-color-5
{
  fill: #6CB5FF !important;
}

.fm-charts-color-6
{
  fill: #84C1FF !important;
}

.fm-charts-color-7
{
  fill: #9DCEFF !important;
}

.fm-charts-color-8
{
  fill: none !important;
}

