.fm-charts-color-1 
{
  fill: #FB9898 !important;
  /* fill: rgb(206, 151, 230) !important; */
}
.fm-charts-color-2 
{
  fill: #FBA2A2 !important;
}
.fm-charts-color-3 
{
  fill: #FCADAD !important;
}
.fm-charts-color-4 
{
  fill: #FCB7B7 !important;
}
.fm-charts-color-5 
{
  fill: #FDC1C1 !important;
}
.fm-charts-color-6 
{
  fill: #FDCBCB !important;
}
.fm-charts-color-7
{
  fill: #FDD6D6 !important;
}

.fm-charts-color-8
{
  fill: none !important;
}
