.fm-charts-color-1 
{
  fill: #22B8E9 !important;
  /* fill: rgb(0, 117, 255) !important; */
}

.fm-charts-color-2
{
  fill: #38BFEB !important;
}

.fm-charts-color-3
{
  fill: #4EC6ED !important;
}

.fm-charts-color-4
{
  fill: #64CDF0 !important;
}

.fm-charts-color-5
{
  fill: #7AD4F2 !important;
}

.fm-charts-color-6
{
  fill: #90DBF4 !important;
}

.fm-charts-color-7
{
  fill: #A7E3F6 !important;
}

.fm-charts-color-8
{
  fill: none !important;
}

