.fm-charts-color-1 
{
  fill: #F9A803 !important;
  /* fill: rgb(255, 184, 0) !important; */
}

.fm-charts-color-2
{
  fill: #FAB11C !important;
}

.fm-charts-color-3
{
  fill: #FAB935 !important;
}

.fm-charts-color-4
{
  fill: #FBC24E !important;
}

.fm-charts-color-5
{
  fill: #FBCB68 !important;
}

.fm-charts-color-6
{
  fill: #FCD381 !important;
}

.fm-charts-color-7
{
  fill: #FDDC9A !important;
}

.fm-charts-color-8
{
  fill: none !important;
}